h1 {
    color: rgb(133, 133, 133);
    padding-top: 180px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form {
    margin: auto;
}
body {
    text-align: center;
}
span {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    position: relative;
    color: rgb(133, 133, 133);
    font-size: 20px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}